# Credenciales Mozilla Add-ons (AMO) API
# Generar en: https://addons.mozilla.org/developers/addon/api/key/
WEB_EXT_API_KEY="user:12345678:xxx"
WEB_EXT_API_SECRET="tu_secreto_hex_de_64_caracteres"
AMO_JWT_ISSUER="user:12345678:xxx"
AMO_JWT_SECRET="tu_secreto_hex_de_64_caracteres"
